/* .container {
  width: 60%;
  margin: auto;
} */

html,
body,
#root,
.room {
  height: 100%;
  margin: 0;
}

.lit {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #000;
  color: #fff;
}
